#include <windows.h>
#include "resource.h"

IDD_TOOLBAR DIALOGEX 0, 0, 98, 52
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "My Dialog Toolbar"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "&Press This Button",IDC_PRESS,7,7,84,14
    PUSHBUTTON      "&Or This One",IDC_OTHER,7,31,84,14
END

ID_BABY_GRID DIALOGEX DISCARDABLE 6, 18, 346, 222
STYLE DS_MODALFRAME|DS_3DLOOK|WS_THICKFRAME|WS_SYSMENU|WS_VISIBLE|WS_CHILD
EXSTYLE WS_EX_APPWINDOW
CLASS	"DialogClass"
FONT 8, "MS Sans Serif", 0, 0, 1
{
  //CONTROL "Grid Properties", IDC_SIMPLEGRID1, "BabyGridClass", 0x00000000, 0, 16, 64, 204, 0x00000200
  CONTROL "A simple grid forWin32 API Programmers", IDC_SIMPLEGRID2, "BabyGridClass", 0x00000000, 68, 16, 64, 204, 0x00000200
  //CONTROL "", IDC_TAB, "SysTabControl32", 0x00000000, 0, 0, 332, 14
  //CONTROL "Big Data", IDC_SIMPLEGRID3, "BabyGridClass", NOT WS_VISIBLE, 136, 16, 60, 204, 0x00000200
  //CONTROL "Column Types", IDC_SIMPLEGRID4, "BabyGridClass", NOT WS_VISIBLE, 200, 16, 68, 204, 0x00000200
  //CONTROL "Delete Rows", IDC_SIMPLEGRID5, "BabyGridClass", NOT WS_VISIBLE, 272, 16, 72, 204, 0x00000200
}


DLG_ABOUT DIALOG DISCARDABLE 22, 17, 235, 71
STYLE DS_MODALFRAME|WS_CAPTION|WS_SYSMENU
CAPTION "About"
FONT 8, "System"
{
  CONTROL IDR_ICO_MAIN, BMP_SIMPLEGRID_DEMO, "Static", SS_ICON, 14, 9, 20, 20
  CONTROL "Simple Grid Demo Version 3.0", IDC_STATIC1, "Static", SS_NOPREFIX|WS_GROUP, 48, 8, 119, 8
  CONTROL "Copyright (C) 2013 - 2015", IDC_STATIC2, "Static", WS_GROUP, 49, 20, 119, 8
  CONTROL "OK", IDOK, "Button", BS_DEFPUSHBUTTON|WS_GROUP|WS_TABSTOP, 195, 6, 30, 11
  CONTROL "David MacDermot", IDC_STATIC3, "Static", WS_GROUP, 49, 30, 153, 8
}

IDR_BMP_ON BITMAP "lightbulb.bmp"
IDR_BMP_OFF BITMAP "lightbulb_off.bmp"
ID_RECYCLE_BIN_IMAGE BITMAP "recyclebinimage64.bmp"
ID_LARGEICON ICON "if_James_Bond_Beamers_73384.ico"
ID_SMALLICON ICON "if_Batman_73346.ico"

IDD_USERCREDENTIALS DIALOG 10, 10, 155, 94
STYLE WS_POPUP | WS_BORDER | WS_SYSMENU
CAPTION "Authentication"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 10, "Arial"
{
	CONTROL "User Credentials", 101, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 9, 10, 130, 75
	CONTROL "User name", 5, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 20, 28, 38, 12
	CONTROL "", IDE_USERNAMEEDIT, EDIT, ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP, 58, 27, 60, 12
	CONTROL "Password", 5, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 20, 41, 34, 12
	CONTROL "", IDE_PASSWORDEDIT, EDIT, ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP, 58, 41, 60, 12
	CONTROL "&Ok", IDE_OK, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP | BS_DEFPUSHBUTTON, 16, 62, 51, 14
	CONTROL "&New User", IDE_NEWUSER, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 74, 61, 51, 14
}

IDD_NEWUSERCREDENTIALS DIALOG 10, 10, 194, 148
STYLE WS_POPUP | WS_BORDER
CAPTION "Registration"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
{
	CONTROL "User Credentials", 101, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 17, 16, 153, 118
	CONTROL "First Name:", 5, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 32, 33, 41, 12
	CONTROL "", IDE_FIRSTNAMEEDIT, EDIT, ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP, 98, 30, 60, 12
	CONTROL "Last Name:", 5, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 32, 47, 41, 12
	CONTROL "", IDE_LASTNAMEEDIT, EDIT, ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP, 98, 46, 60, 12
	CONTROL "User name: ", 5, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 32, 62, 38, 12
	CONTROL "", IDE_USERNAMEEDIT, EDIT, ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP, 98, 60, 60, 12
	CONTROL "Password: ", 5, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 32, 77, 34, 12
	CONTROL "", IDE_PASSWORDEDIT, EDIT, ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP, 98, 75, 60, 12
	CONTROL "Re-type Password: ", 5, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 32, 92, 61, 12
	CONTROL "", IDE_RETYPEPASSWORDEDIT, EDIT, ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP, 98, 89, 60, 12
	CONTROL "&Ok", IDE_OK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_TABSTOP, 40, 108, 51, 14
	CONTROL "&Cancel", IDE_CANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 97, 108, 51, 14
}
